#   // function generateQRCode() {
#     //     var qrCodeContainer = document.getElementById('qrCodeContainer');
#     //     var amount = document.querySelector(".input-field.amount").value;
#     //     var firstName = document.querySelector(".input-field.firstname").value;
#     //     var lastName = document.querySelector(".input-field.lastname").value;
#     //     var email = document.querySelector(".input-field.email").value;
#     //     var narration = document.querySelector(".input-field.narration").value;
#     //     var paymentCompletedButton = document.getElementById("confirm-payment-button");
#     //     document.getElementById("qr-code").innerHTML = "";

#     //     var emailInputField = document.querySelector(".input-field.email");
#     //     if (emailInputField.nextElementSibling.classList.contains("error")) {
#     //         alert('Please enter a valid email address!');
#     //         return;
#     //     }

#     //     if (amount.trim() === '' || email.trim() === '' || lastName.trim() === '' || firstName.trim() === '') {
#     //         alert('Please enter valid details!');
#     //         return;
#     //     }

#     //     togglePageBlur(); // Add the blur effect

#     //     const requestBody = {
#     //         firstName: firstName,
#     //         lastName: lastName,
#     //         amount: amount,
#     //         email: email,
#     //         // description: narration,
#     //     }

#     //     const merchant_key = "QRP-" + new Date().getTime().toString();
#     //     const saveTransactionURL = "https://qr-code-payaza-a13a16038b44.herokuapp.com/api/v1/qr-code/saveTransaction";
#     //     let transaction_reference;
#     //     let uri = `https://payaza.africa/payment-page?merchant_key=PZ78-PKLIVE-BCCEB00C-87A4-4F2A-A25B-439315F2EF91&connection_mode=Live&checkout_amount=${amount}&currency_code=NGN&email_address=${email}&first_name=${firstName}&last_name=${lastName}&phone_number=%2B2348150746516&transaction_reference=${merchant_key}`;
#     //     let encoded = encodeURI(uri);

#     //     fetch(saveTransactionURL, {
#     //         method: 'POST',
#     //         headers: {
#     //         'Content-Type': 'application/json',
#     //         },
#     //         body: JSON.stringify(requestBody),
#     //     })
#     //         .then(response => {
#     //         if (!response.ok) {
#     //             qrCodeContainer.style.display = 'block';
#     //             qrCodeContainer.innerText = "This is a duplicate transaction. Please hold on as it is still processing"
#     //             paymentCompletedButton.style.display = 'block';
#     //             throw new Error(`POST Request failed with status: ${response.status}`);
#     //         }
#     //         const qr = new QRCode(document.getElementById("qr-code"), {
#     //             text: encoded,
#     //             width: 300,
#     //             height: 300,
#     //         });
#     //         qrCodeContainer.style.display = 'block';
#     //         paymentCompletedButton.style.display = 'block';
#     //         return "save transaction response", response.json();
#     //         })
#     //         .then(saveTransactionResponse => {
#     //         transaction_reference = saveTransactionResponse.transactionReference;
        
#     //         const getMerchantReferenceURL = `https://qr-code-payaza-a13a16038b44.herokuapp.com/api/v1/qr-code/getMerchantReference?transactionReference=${transaction_reference}&merchantReference=${merchant_key}`;
        
#     //         return fetch(getMerchantReferenceURL);
#     //         })
#     //         .then(response => {
#     //         if (!response.ok) {
#     //             throw new Error(`GET Request failed with status: ${response.status}`);
#     //         }
#     //         return response;
#     //         })
#     //         .then(response => {
#     //         console.log('GET Response:', response);
#     //         })
#     //         .catch(error => {
#     //         console.error('Error:', error);
#     //     });
        
        
#     //     var transactionStatus = "";

#     //     fetch("https://qr-code-payaza-a13a16038b44.herokuapp.com/api/v1/qr-code/callbackResponse", {
#     //         method: 'POST',
#     //         mode: 'no-cors',
#     //         headers: {
#     //             'Content-Type': 'application/json',
#     //         },
#     //     })
#     //     .then(response => response.json())
#     //     .then((responseJson) => {
#     //         transactionStatus = responseJson['transaction_status']
#     //     })
#     //     .then(console.log(transactionStatus))
#     //     .catch(error => console.error("Error: ", error));
#     // }